/* popup styles */
.contact_confirmation{
    width: 100%;
    height: 100%;
    min-height: 350px;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact_confirmation > button{
    position: absolute;
    right: 4rem;
    top: 2rem;
    padding: 10px;
    background:none;
    border: none;
    cursor: pointer;
}

.contact_confirmation > img{
    max-width: 180px;
    margin: 0rem 0;
}
.contact_confirmation > h1{
    font-size: 20px;
    font-family: "playfair display", sans-serif;
    color: #333333;
    margin-bottom: 0.2rem;
}
.contact_confirmation > h2{
    font-size: 18px;
    font-family: "playfair display", sans-serif;
    color: #333333;
}
.contact_privacy_label{
    width: 100%;
    font-family: poppins, sans-serif;
    margin-top: 0.5rem;
}
.contact_privacy_label > span{
   font-size: 14px;
   color: #333;
   margin-left: 3px;
}
.contact_privacy_label > span a{
   color: #333;
   text-decoration: underline;
}
/* new css */
.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.contact_desctiption > textarea{
    color: #222;
    width: 100%;
    font-family: poppins, sans-serif;
    background-color: #fff;
    border: 1px solid #afafaf;
    padding: .6rem 1rem;
    font-size: 16px;
    border-radius: 5px;
}
.input{
    color: #222;
    width: 100%;
    height: 40px;
    font-family: poppins, sans-serif;
    background-color: #fff;
    border: 1px solid #afafaf;
    padding: 0 1rem;
    font-size: 16px;
    margin: 5px 0;
    border-radius: 5px;
}
.contact_date_time_container{
 width: 100%;
 display: flex;
 gap: 0.5rem;
    margin: 5px 0;
}
.input_date_time{
    color: #222;
    height: 40px;
    width: 100%;
    font-family: poppins, sans-serif;
    background-color: #fff;
    border: 1px solid #afafaf;
    padding: 0 1rem;
    font-size: 16px;
        border-radius: 5px;
}
.contact_button_book{
    margin-top: 1rem;
    background-color:#c88a65;
    color: white;
    font-family: poppins, sans-serif;
    font-size: 16px;
    padding: 0.8rem 2.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.contact_button_book:hover{
  background: #b57a56; 
}
@media screen and (max-width:1139px){
    .contact_confirmation{
          min-height: unset;
    }
    .form{
    width: 100%;
    }
}

