.section {
  padding: 4rem 2rem;
   background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(232, 241, 245, 1) 100%);
}

.grid {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 2rem; */
}

/* CARD */
.card {
  padding: 40px 32px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.highlighted {
  background-color: white;
  border-radius: 10px;
  transform: scale(1.02);
}
/* HEADER */
.header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header h3 {
  font-size: 27px;
  font-weight: 600;
}

.badge {
  background: #f8e9e1;
  color: #c88a65;
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 999px;
  font-weight: 500;
  font-family: poppins, sans-serif;
}

.subtitle {
  margin: 7px 0 24px;
  color: #555;
  font-size: 16px;
  font-family: poppins, sans-serif;
}

/* PRICE */
.price {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #222;
}

/* BUTTON */
.button {
  height: 42px;
  border-radius: 5px;
  border: none;
  background: #c88a65;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 30px;
  text-decoration: unset;
  font-family: poppins, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted .button {
  background: #c88a65;
  color: white;
}

/* FEATURES */
.includes {
  font-weight: bold;
  margin-bottom: 16px;
  font-family: poppins, sans-serif;
  color: #2a2a2a;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
  font-size: 15px;
  font-family: poppins, sans-serif;
  color: #222;
}

.check {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #f8e9e1;
  color: #c88a65;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.cross {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #eee;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
@media screen and (max-width:1000px){
  .section{
    padding: 4rem 1rem;
  }
  .grid {
  max-width: 600px;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
  overflow-y: scroll;
}
.card{
  background-color: white;
}
.highlighted{
  transform: unset;
}
}