.services_container{
    width: 100%;
    background-color: #0a2342;
    padding: 4rem 2rem;
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #c88a65, #debfad, #c88a65) 1;
}
.pillars_container{
   width: 100%;
   max-width: 900px;
       display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services_content{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.videoElement {
  width: auto;
  height: 100%;
  max-height: 650px;
  display: block;
    border-radius: 16px;
}
.services_text{
    width: 100%;
}
.services_text h2{
    font-family:playfair display, serif;
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
} 
.services_text p{
    font-family: poppins, sans-serif;
    font-size: 18px;
    color: white;
    max-width: 500px;
    margin-bottom: 2rem;
    
}
/* pillars */
.pillar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pillar > div:nth-child(1){
    width: 100%;
    max-width: 550px;
    padding: 3rem 0rem 3rem 0;
}
.pillar > div > h3{
        background: linear-gradient(115deg, rgba(200, 138, 104, 1) 46%, #caa189 72%, rgba(200, 138, 104, 1) 85%);;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font-family: playfair display, serif;
    font-size: 35px;
    margin-bottom: .4rem;
    line-height: 35px;
}
.pillar > div > p{
    color: white;
    font-family: poppins, sans-serif;
    font-size: 16px;
}
.pillars_container > div:nth-child(1), 
.pillars_container > div:nth-child(2){
  border-bottom: 1px solid gray;
}
.landing_our_services_icons_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing_our_services_icons_div svg{
    width: 100%;
    color:#eee;
    width: 150px;
    height: 150px;
}
/* video and text */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  border-left: 1px solid rgb(80, 80, 80);
  border-right: 1px solid rgb(80, 80, 80);
  padding: 1rem 4rem;
  margin: 0rem 0 2rem 0;
  max-width: 1000px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.videoWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  line-height: 0;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.videoElement {
  width: auto;
  height: 100%;
  max-height: 550px;
  display: block;
    border-radius: 16px;
}

.content {
  flex: 1;
max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.badge {
  display: inline-block;
  align-self: flex-start;
  background: #3a4a6c;
  color: rgb(231, 231, 231);
  font-family: poppins, sans-serif;
  padding: 4px 12px;
  border-radius: 99px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: -10px;
}

.heading {
  font-size: 40px;
  color: #ffffff;
  font-family: playfair display sans-serif;
  line-height: 1;
  font-weight: 800;
  margin-bottom: -0.7rem;
}
.description {
    font-size: 1rem;
    font-family: poppins, sans-serif;
  color: #e9edf1;
  max-width: 400px;
  line-height: 1.4;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
font-family: poppins, sans-serif;
    font-size: 15px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  color: #ffffff;
  font-weight: 500;
}

.checkIcon {
  color: #2563eb;
  font-weight: bold;
}

.ctaButton {
  display: block;
  background: #c88965d2;
  text-decoration: unset;
  color: white;
  padding: 0.9rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  width: 380px;
  font-family: poppins, sans-serif;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.ctaButton:hover {
  background: #c88965; 
}
@media screen and (max-width:1000px){
      .container{
    flex-direction: column-reverse;
    width: 100%;
    max-width: 600px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem 0rem;
    box-shadow: unset;
    border: unset;
  }
    .girls_container{
        padding: 2rem 1rem;
    }
    .girls_content{
        max-width: 600px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
    }
    .girls_content > div{
        width: 100%;
    }
}
@media screen and (max-width:630px){
      .container{
    width: 100%;
    max-width: 600px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    box-shadow: unset;
    border: unset;
  }
    .girls_container{
        padding: 2rem 1rem;
    }
    .girls_content{
        max-width: 600px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
    }
    .girls_content > div{
        width: 100%;
    }
    .heading{
      font-family: poppins, sans-serif;
      font-size: 30px;
    }
}
@media screen and (max-width:1000px){
    .services_container{
        padding:2rem 1rem;
    }
    .services_content{
        max-width: 600px;
    }
    .pillar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .landing_our_services_icons_div{
     align-items: flex-start;
     justify-content: flex-start;
    }
    .landing_our_services_icons_div > svg{
        width:100px;
        height:100px;
        margin-bottom: 1rem;
    }
    .pillar > div:nth-child(1){
        padding: 1rem 0 1rem 0;
    }
    .services_content > div:nth-child(2), .services_content div:nth-child(3){
    border-bottom: unset;
}
}
@media screen and (max-width:630px){
    .services_container{
        padding: 4rem 1rem;
    }
    .services_text h2{
     font-size: 30px;
     font-family: poppins, sans-serif;
    }
    .services_title > img{
        width: 50px;
        height: auto;
    }
    .services_text p{
        font-size: 1rem;
    }
    .pillar > div > h3{
        font-size: 24px;
        margin-bottom: -10px;
      font-family: poppins, sans-serif;
        
    }
     .landing_our_services_icons_div > svg{
        width:50px;
        height:50px;
        margin-bottom: 1rem;
        color:white
     }
     .pillar > div > p{
        display: none;
     }
     .pillar{
        flex-direction: row-reverse;
        margin: 0.5rem 0;
     }
     .landing_our_services_icons_div{
        width: unset;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
     }
      .landing_our_services_icons_div > svg{
        width: 30px ;
        height: 30px;
      }
      .pillar div:nth-child(1){
        padding: 0;
      }
      .pillars_container > div:nth-child(1),
      .pillars_container > div:nth-child(2){
        border: unset ;
      }

      .container{
        margin: 0;
        padding: 0;
        margin-bottom: 1.5rem;
      }
      .ctaButton {
        padding: 10px 0;
        border-radius: 5px;
        width: 100%;
        max-width: 310px
      }
}