.services_container{
    width: 100%;
    background-color: #0a2342;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #c88a65, #debfad, #c88a65) 1;
}
.services_content{
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.services_text{
    width: 100%;
}
.services_text h2{
    font-family:playfair display, serif;
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
} 
.services_text p{
    font-family: poppins, sans-serif;
    font-size: 18px;
    color: white;
    max-width: 500px;
    margin-bottom: 2rem;
    
}
/* pillars */
.pillar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.pillar > div:nth-child(1){
    width: 100%;
    max-width: 550px;
    padding: 3rem 3rem 3rem 0;
}
.pillar > div > h3{
        background: linear-gradient(115deg, rgba(200, 138, 104, 1) 46%, #caa189 72%, rgba(200, 138, 104, 1) 85%);;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font-family: playfair display, serif;
    font-size: 35px;
    margin-bottom: .4rem;
    line-height: 35px;
}
.pillar > div > p{
    color: white;
    font-family: poppins, sans-serif;
    font-size: 16px;
}

.services_content > div:nth-child(2), .services_content div:nth-child(3){
    border-bottom: 1px solid gray;
}
.landing_our_services_icons_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing_our_services_icons_div svg{
    width: 100%;
    color:#eee;
    width: 150px;
    height: 150px;
}
@media screen and (max-width:1000px){
    .services_container{
        padding:2rem 1rem;
    }
    .services_content{
        max-width: 600px;
    }
    .pillar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .landing_our_services_icons_div{
     align-items: flex-start;
     justify-content: flex-start;
    }
    .landing_our_services_icons_div > svg{
        width:100px;
        height:100px;
        margin-bottom: 1rem;
    }
    .pillar > div:nth-child(1){
        padding: 1rem 0 1rem 0;
    }
    .services_content > div:nth-child(2), .services_content div:nth-child(3){
    border-bottom: unset;
}
}
@media screen and (max-width:630px){
    .services_container{
        padding: 4rem 1rem;
    }
    .services_text h2{
     font-size: 30px;
     font-family: poppins, sans-serif;
    }
    .services_title > img{
        width: 50px;
        height: auto;
    }
    .services_text p{
        font-size: 1rem;
    }
    .pillar > div > h3{
        font-size: 24px;
        /* text-decoration: underline; */
        margin-bottom: -10px;
      font-family: poppins, sans-serif;
        
    }
     .landing_our_services_icons_div > svg{
        width:50px;
        height:50px;
        margin-bottom: 1rem;
        color:white
     }
     .pillar > div > p{
        display: none;
     }
     .pillar{
        flex-direction: row-reverse;
        margin: 0.5rem 0;
     }
     .landing_our_services_icons_div{
        width: unset;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
     }
      .landing_our_services_icons_div > svg{
        width: 30px ;
        height: 30px;
      }
      .pillar div:nth-child(1){
        padding: 0;
      }
}