.navbar_container{
    height: 100%;
    width: 100%;
    background-color: #0A2342;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #C88A65, #debfad, #C88A65) 1;
    padding:0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_logo_container{
    width:100%;
    height:100%;
    max-width:1000px;
}
@media screen and (max-width:1000px){
.navbar_container{
    padding: 0.5rem 1rem;
}
.navbar_logo_container{
    max-width: 600px;
}
}