.solution_container{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro_content{
    max-width: 1000px;
    width: 100%;
    padding: 4rem 2rem;
}
.section {
  width: 100%;
  margin: 0 auto;
}
.section h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: playfair display, serif;
  margin-bottom: 30px;
  color: #222;
}

.list {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: 125px 1fr;
  align-items: center;
  position: relative;
}
.row:nth-child(1), .row:nth-child(2){
  border-bottom: 1px solid #c8c8c8
}
.row:last-child::after {
  display: none;
}

.row p {
    font-family: poppins, sans-serif;
  font-size: 18px;
  max-width: 650px;
  color: #222;
}

/* RADIAL CHART */
.chart {
  display: block;  
  border-right: 1px solid #c8c8c8;
}

.bg {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 8; 
}

.progress {
  fill: none;
  stroke: #cc652e;
  stroke-width: 8;
  stroke-linecap: round;

  /* THIS is the key */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 1.8s ease-out;
}

.label {
  font-size: 18px;
  font-weight: 600;
  font-family: poppins, sans-serif;
  fill: #cc652e;
}
@media screen and (max-width:1000px){
  .solution_container{
    padding: 2rem 1rem;
  }
.intro_content{
  width: 100%;
  max-width: 600px;
  padding: 0;
}
}
@media screen and (max-width:630px){
.section h2{
  font-size: 30px;
}
.row p{
  font-size: 1rem;
}
}