.wrapper {
  position: relative;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000; 
}

.backgroundImage {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 140%;
  background-image: url('/images/landing_intro_img.jpg'); /* Use a high-res clinic shot */
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(4, 14, 26, 0.7),
    rgba(4, 14, 26, 0.5),
   rgba(4, 14, 26, 0.7)
  );
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tagline {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-align: start;
  color: #f4c7ad;
  font-weight: 700;
 font-family: poppins, sans-serif;
}

.slogan {
  font-size: 45px;
  font-family: "Playfair display";
  text-align: start;
  line-height: 1.1;
  margin: 15px 0;
}

.highlight {
  color: #fff;
  text-decoration: underline;
  text-align: start;
  text-decoration-color: #cb997c;
}

.subtext {
  font-size: 1.1rem;
  opacity: 0.9;
  margin-bottom: 30px;
  width: 100%;
  text-align: start;
  font-family: poppins, sans-serif;
}

.primaryBtn {
  background: #c88a65;
  color: white;
  padding: 0.8rem 1.7rem;
  font-family: poppins, sans-serif;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-decoration: none
}

.primaryBtn:hover {
  transform: scale(1.02);
  background: #b57a56; 
}

.guarantee {
  margin-top: 15px;
  font-size: 0.8rem;
  font-family: poppins, sans-serif;
  opacity: 0.7;
  width: 100%;
  text-align: start;
}
@media screen and (max-width: 1000px){
  .content{
    max-width: 600px;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 600px){
  .slogan {
    font-family: poppins, sans-serif;
    font-size: 30px;
    /* font-weight: 400; */
  }
  .primaryBtn, .subtext {
   font-size: 1rem;
   max-width: 320px;
  }
  
}