.landing_cta_container{
    width: 100%;
    height: 100%;
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.landing_cta_content{
    width: 100%;
    max-width: 1000px;
    padding: 3rem 4rem;
    border-radius: 30px 5px 30px 5px;
    background-color: #0a2342;
    outline: 2px solid #C88A65;
  outline-offset: -10px;
}
.landing_cta_content > h2{
    font-family:playfair display, serif;
    font-size: 40px;
    color:white;
    margin-bottom: 2rem;
}
.landing_cta_content a{
    text-decoration: none;
    padding: 0.7rem 3rem;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    transition: background-color 0.3s ease;
    color: white;
    background: #C88A65;
}
@media screen and (max-width:1000px){
    .landing_cta_container{
        padding: 3rem 1rem;
    }
    .landing_cta_content{
        max-width: 600px;
        padding: 2.5rem 4rem;
    }
    .landing_cta_content > h2{
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width:630px){
    .landing_cta_container{
      padding: 4rem 0rem;
    }
    .landing_cta_content{
        max-width: 600px;
        padding: 3rem 2rem;
    }
    .landing_cta_content > h2{
        margin-bottom: 2rem;
        font-size: 30px;
        font-family: poppins, sans-serif;
        font-weight: 500;
    }
    .landing_cta_content a{
        padding: 10px 45px;
    }
}