.girls_container{
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  /* background-color: #e8f1f5; */
}
.girls_content{
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.girls_content > div{
    width: 450px;
    height: 370px;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
}
.girls_content > h2{
    font-size: 40px;
    font-family:playfair display, serif;
    color: #222;
    width: 100%;
    max-width: 500px;

}
@media screen and (max-width:1000px){
    .girls_container{
        padding: 2rem 1rem;
    }
    .girls_content{
        max-width: 600px;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
    }
    .girls_content > div{
        width: 100%;
    }
}
@media screen and (max-width:630px){
   .girls_content > h2{
    font-size: 30px;
   }
   .girls_content > div{
    height: 300px;
   }
}